
body{
    align-content: center;
    
}

.titulo{
    text-align: center;
}
main{
    align-content: center;
    width: 960px;
    column-count:2;
    column-gap: 0;
    margin: 0 auto;
}

.colu1{
    text-align: left;
    width: 260px;
}

.ul{
    padding: 0;
    text-align: left;

}
.colu2{
    width: 700px;    
    display: inline-block;
    
}
.columnas3{
    column-count:3;
    column-gap: 1em;

}