body {
    background-image: url(img/fondo.jpg);
}

.menu1 {
    padding-left: 200px;
    padding-top: 20px;
    position: fixed;
    display: flex;
}

.menu2 {
    padding-top: 20px;
    text-align: right;
}

button {
    border: none;
    background: transparent;
    margin-left: 10px;
}

.encabezado:hover{
    transform: scaleX(1.1) scaleY(1.1);
    transition: 0.1s;
    background-color: transparent;
    }


a {
    font-size: medium;
    font: bolder;
    color: #ffffff;
    text-decoration: none;
}

.logoheader {
    position: fixed;
    width: 9%;
}

